.button {
    background-color: transparent;
	border:1px solid transparent;
    display: block;
}



.select {
    width: 15%;
    position: block;
    display: flex;
    flex-direction: column;
    display: flex;
    float: left;
    background-color: yellow;
} 
   
.select select {
        font-family: 'Arial';
        display: inline-block;
        width: auto;
        cursor: pointer;
        /* padding: 11px 15px;
        margin-left: 10px;
        margin-top: -2px; */
        outline: 0;
        border: 0px solid #ffffff;
        /* border-radius: 100px; */
        background: #222222;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: block;
        z-index: 1;
}

.select select:hover {
    color: #FFB443;
}

.select .fa-circle {
    position: block;
    left: auto;
    transform: translateY(200%);
    color: #FFB443; /* Kolor kropki */
    font-size: 10px; /* Pomniejszenie kropki */
    z-index: 1; /* Podniesienie kropki na górę */
}

.select2 {
    width: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-right: -20px;
    margin-left: -50px; */
    display: block;
    float: left;
}    



.select2 select {
        font-family: 'Arial';
        /* display: inline-block;
        width: auto; */
        cursor: pointer;
        /* padding: 11px 30px; */
        outline: 0;
        border: 0px solid #ffffff;
        border-radius: 100px;
        background: #222222;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        display: block;
        z-index: 1;
        /* margin-top: 8px; */
    }

.select2 select:hover {
    color: #FFB443;
}

.select2 .fa-circle {
    position: absolute;
    top: auto;
    /* left: 2px; */
    transform: translateY(400%);
    color: #FFB443; /* Kolor kropki */
    font-size: 10px; /* Pomniejszenie kropki */
    vertical-align: center;
    z-index: 2; /* Podniesienie kropki na górę */    
    /* margin-top: -1px; */
}

.select3 {
    width: 15%;
    /* position: block;
    display: flex;
    flex-direction: column;
    display: flex;
    float: left; */

} 
   
.select3 select {
        font-family: 'Arial';
        display: inline-block;
        width: auto;
        cursor: pointer;
        /* padding: 11px 15px;
        margin-left: 10px;
        margin-top: -2px; */
        outline: 0;
        border: 0px solid #ffffff;
        /* border-radius: 100px; */
        background: #222222;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: block;
        z-index: 1;
        /* margin-top: -2px; */
    }

.select3 select:hover {
    color: #FFB443;
}

.select3 .fa-circle {
    position: block;
    left: auto;
    transform: translateY(200%);
    color: #FFB443; /* Kolor kropki */
    font-size: 10px; /* Pomniejszenie kropki */
    z-index: 1; /* Podniesienie kropki na górę */
}

.select4 {
    /* width: 15%;
    position: block;
    display: flex;
    flex-direction: column;
    display: flex;
    float: left; */

} 
   
.select4 select {
        font-family: 'Arial';
        /* display: inline-block;
        width: auto; */
        cursor: pointer;
        /* padding: 11px 15px;
        margin-left: 10px;
        margin-top: -2px;
        outline: 0; */
        border: 0px solid #ffffff;
        /* border-radius: 100px; */
        background: #222222;
        color: #ffffff;
        /* appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: block; */
        z-index: 1;
        /* margin-top: -2px; */
    }

.select4 select:hover {
    color: #FFB443;
}

.select4 .fa-circle {
    position: block;
    left: auto;
    transform: translateY(200%);
    color: #FFB443; /* Kolor kropki */
    font-size: 10px; /* Pomniejszenie kropki */
    z-index: 1; /* Podniesienie kropki na górę */
}






.slidecontainer {
    width: 18%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    accent-color: #FFB443;
    margin-right: 50px;
    margin-left: auto;
    display: block;
    float: left;
    z-index: 3;
  }

  .policztune {
    width: 15%;
    height: auto;
    float: left;
    background-color: orange;
    
  }



/* kropak */
.circle-button {
    position: relative;
    margin-left: -9px;
    width: 15px;
    height: 15px;
    background-color: #FFB443;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: right;
    /* color: white; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
.zapytanie{
    padding-top: 2px;
    font-size: 10px;
}

.tooltip {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222;
    color: #FFB443;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    visibility: hidden;
    z-index: 3;
}

.circle-button:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffb443 none;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffb443;
    border-radius: 10px;
    border: 3px solid none;
  }

  /* Kalkulator tuningu pojazdów by maciekjur */


.wysz{
    background-color: #222222;
    color: white;
    border: 2px solid #ffb443;
    border-radius: 4px;

}

.button2 {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.button2:hover .demo p {
    color: #FFB443; /* Zmienia kolor tekstu po najechaniu */
}
  